
<app-navbar></app-navbar>
  <div class="content">
    <div class="header">
      <h1>Censo Digital</h1>
      <p>Estado Plurinacional de Bolivia</p>
    </div>
    <div class="image-cards">
      <mat-card>
        <img mat-card-image src="assets/imgs/mapa_bolivia.png" alt="Mapa Bolivia" class="card-image">
      </mat-card>
    </div>
  </div>
  <div class="info-section">
    <p>El Censo Digital Bolivia se llevó a cabo entre el 23 de marzo de 2024. Con esta herramienta, la población pudo completar el cuestionario censal en línea de forma anticipada desde cualquier dispositivo con acceso a internet.</p>
    <p>Esta innovadora metodología permitió ahorrar tiempo y recursos, además de facilitar el acceso al censo a personas en todo el país.</p>
  </div>
  

<div class="card-container">  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Cuestionario Censal</mat-card-title>
        <mat-card-subtitle>Preguntas Censo 2024</mat-card-subtitle>
        <img mat-card-image src="assets/imgs/censo_bolivia.png" >
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>


<div class="card-container"> 
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Estadísticas 2024</mat-card-title>
      <mat-card-subtitle>Datos generales</mat-card-subtitle>
      <img mat-card-image src="assets/imgs/censo_bolivia.png" >
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
</div>



  