<body>
  <div class="form-container">
    <form class="example-form">
      <div class="form-group">
        <h1 class="main-title" style="text-align: center;">Censo Digital</h1>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="example@gmail.com" value="">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="12345678" value="">
        </mat-form-field>
      </div>
      <div class="button-container">
        <button class="styled-button">Iniciar Sesión</button>
      </div>
    </form>
    <!-- <div>Aún no tienes una cuenta </div> -->
    <div class="link-register">
      <a href="#">¿Aún no tienes una cuenta? Registrate</a>
    </div>
  </div>
  </body>