<div class="profile-container">
    <div class="sidebar">
      <ul class="menu">
        <li class="menu-item profile-container">
            <div class="profile-image-container">
              
            </div>
            <div class="profile-name">
              <span>Nombre Apellido</span>
            </div>
          </li>
          
        <li class="menu-item">
          <a href="#">Mi Perfil</a>
        </li>
        <li class="menu-item">
          <a href="#">Notificaciones</a>
        </li>
        <li class="menu-item">
          <a href="#">Configuración</a>
        </li>
        <li class="menu-item">
          <a href="#">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  
    <div class="main-content">
      <div class="profile-edit-container">
        <h2>Editar Perfil</h2>
  
        <form class="profile-form">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
          </div>
          <div class="form-group">
            <label for="text">Apellido:</label>
            <input type="text" id="apellido" name="apellido">
          </div>
          <div class="form-group">
            <label for="text">Carnet de Identidad:</label>
            <input type="text" id="carnet" name="carnet">
          </div>
          <div class="form-group">
            <label for="email">Correo:</label>
            <input type="email" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" >
          </div>
  
          <button type="submit" class="button-save">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </div>
  
